In [1]:

import numpy as np
import pandas as pd
import requests
from lib.odds import Odds
import duckdb

In [2]:
df = Odds().get_sports()

In [2]:
import pygwalker as pg

In [2]:
df = Odds().get_nba_champ_odds()

Number of events: 1

In [58]:
display(df.query("group == 'Basketball'"))

,key,group,title,description,active,has_outrights
5,basketball_euroleague,Basketball,Basketball Euroleague,Basketball Euroleague,True,False
6,basketball_nba,Basketball,NBA,US Basketball,True,False
7,basketball_nba_championship_winner,Basketball,NBA Championship Winner,Championship Winner 2024/2025,True,True
8,basketball_ncaab,Basketball,NCAAB,US College Basketball,True,False
9,basketball_ncaab_championship_winner,Basketball,NCAAB Championship Winner,US College Basketball Championship Winner,True,True

In [7]:
Odds.append_to_table(df, 'nba_champ_odds')

AttributeError: type object 'Odds' has no attribute 'append_to_table'

In [23]:
append_to_table_test(df, 'nba_game_odds')

Table nba_game_odds does not exist. Created table from DF

In [8]:
pg.walk(df, kernel_computation=True)

Box(children=(HTML(value='\n<div id="ifr-pyg-000626d2e3706ecewcN9efJYiQXpUTgO" style="height: auto">\n    <heaâ€¦